<section class="boxes-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-boxes-item">
                    <h3>Learn The Latest Skills</h3>
                    <p>Like Mean Stack,Mearn Stack ,Automation Testing, Python, and more.</p>
                    <a routerLink="/courses-3-columns-style-3" class="boxes-btn">View Courses<i class='bx bx-plus'></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-boxes-item bg-image">
                    <h3> Online Classes</h3>
                    <p>Get hands on all courses from comfort of your home with virtual support.</p>
                    <a routerLink="/courses-2-columns-style-2" class="boxes-btn">View More<i class='bx bx-plus'></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-boxes-item bg-color">
                    <h3>Training with industry expert</h3>
                    <p>Get trained and get great going in career path.</p>
                    <a routerLink="/courses-3-columns-style-3" class="boxes-btn">View Courses<i class='bx bx-plus'></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-boxes-item">
                    <h3>Up Your Skill</h3>
                    <p>With on-demand training and development programs.</p>
                    <a routerLink="/courses-3-columns-style-3" class="boxes-btn">View More<i class='bx bx-plus'></i></a>
                </div>
            </div>
        </div>
    </div>
</section>