<app-header-style-one></app-header-style-one>

<!-- 
---------------------------------------------------------------------------------
---------------------------------------------------------------------------------\
---------------------------------------------------------------------------------
react course coontent


-->

<div *ngIf="reactCourse">
    <div class="page-title-area item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="page-title-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="courses-2-columns-style-1.html">Courses</a></li>
                    <li>React Js </li>
                </ul>
                <h2>Courses</h2>
            </div>
        </div>
    </div>
    
    <section class="courses-details-area pt-100 pb-70">
        <div class="container">
            <div class="courses-details-header">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="courses-title">
                            <h2>Angular 10 + Project</h2>
                            <p>Version 10.0.0 is here! This is a major release that spans the entire platform, including the
                                framework, Angular Material, and the CLI. This release is smaller than typical; it has only
                                been 4 months since we released version 9.0 of Angular.</p>
                        </div>
    
                        <div class="courses-meta">
                            <ul>
                                <li>
                                    <i class='bx bx-folder-open'></i>
                                    <span>Category</span>
                                    <a routerLink="/single-courses">Design</a>
                                </li>
                                <li>
                                    <i class='bx bx-group'></i>
                                    <span>Students Enrolled</span>
                                    <a routerLink="/single-courses">813,454</a>
                                </li>
                                <li>
                                    <i class='bx bx-calendar'></i>
                                    <span>Last Updated</span>
                                    <a routerLink="/single-courses">01/14/2019</a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="courses-price">
                            <div class="courses-review">
                                <div class="review-stars">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <span class="reviews-total d-inline-block">(2 reviews)</span>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-8">
                    <div class="courses-details-image text-center">
                        <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls
                            preload="none" poster='/assets/img/angular.jpeg'
                            data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                            <source src="http://justolearn.com/angular.mp4" type='video/mp4' />
                        </video>
                        <!-- <button (click)="playPause()">Play/Pause</button>
                        <button (click)="makeBig()">Big</button>
                        <button (click)="makeSmall()">Small</button>
                        <button (click)="makeNormal()">Normal</button>
                        <button (click)="restart();">Restart</button>
                        <button (click)="skip(-10)">Rewind</button>
                        <button (click)="skip(10)">Fastforward</button> -->
                    </div>
    
                    <div class="courses-details-desc">
                        <h3>What you'll learn</h3>
                        <div class="why-you-learn">
                            <ul>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Become an expert in Statistics
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Boost your resume with skills
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Gather, organize, data
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Use data for improved
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Present information KPIs
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Perform quantitative
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Analyze current data
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Discover how to find trends
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Understand the fundamentals
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Use SQL to create, design
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <h3>Requirements</h3>
                        <ul class="requirements-list">
                            <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry.</li>
                            <li>The standard Lorem Ipsum passage, used since the 1500s.</li>
                        </ul>
                        <h3>Angular 10</h3>
                        <p><strong>Hi! Welcome to Certified Graphic Design with Free Project Course, the only course you
                                need to become a BI Analyst.</strong></p>
                        <p>We are proud to present you this one-of-a-kind opportunity. There are several online courses
                            teaching some of the skills related to the BI Analyst profession. The truth of the matter is
                            that none of them completely prepare you.</p>
                        <div class="titlecourse">
                            <p ><strong>Introduction</strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>What is Angular 10</li>
                            <li> How Angular Works </li>
                            <li>Difference between Angular and Other</li>
                            <li>Advantages of Angular</li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>TypeScript</strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>What is typescript?</li>
                            <li>Compare typescript with Javascript</li>
                            <li> Data Types & Variables</li>
                            <li>Variable & Operators </li>
                            <li>Control Structure and Decision making </li>
                            <li>loops</li>
                            <li>Typescript Functions & Strings</li>
                            <li>Typescript Object</li>
                            <li>Class , Abstract Class</li>
                            <li>Constructor Method</li>
                            <li>Type of Assertion</li>
                            <li>Interfaces </li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>Application Setup</strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>Installing Angular JS</li>
                            <li>Creating an Angular 2 project</li>
                            <li>Creating an Angular 2 project using CLI</li>
                        </ul>
                      
                        <div class="titlecourse">
                            <p ><strong>Architecture</strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>Module</li>
                            <li>Component</li>
                            <li>Template</li>
                            <li>Metadata</li>
                            <li>Data binding</li>
                            <li>Directive</li>
                            <li>MAttribute Directive</li>
                            <li>Structural Directive</li>
                            <li>Dependency Injection</li>
                        </ul>
                        
                        <div class="titlecourse">
                            <p ><strong>Directives</strong></p>
                        </div>
                        <ul class="audience-list">
                            <li>Understanding Directives</li>
                            <li>Directives Overview</li>
                            <li>Different kinds of directives</li>
                            <li>Build attribute directive</li>
                            <li> Apply the attribute directive to an element in a template</li>
                            <li>Respond to user-initiated events</li>
                            <li> Pass value into the directive with an @Input data binding</li>
                            <li>Custom Attribute Directive</li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>Structural Attribute Directive</strong></p>
                        </div>
                        <ul class="audience-list">
                            <li>What is structural directive?</li>
                            <li>NgIf case study</li>
                            <li>NgFor,NgSwitch</li>
                            <li>
                                Using the NgClass Directive
                            </li>
                        </ul>
    
                    </div>
    
                    <div class="related-courses">
                        <h3>Related Courses</h3>
    
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single-courses-box mb-30">
                                    <div class="courses-image">
                                        <a routerLink="/single-courses" class="d-block"><img
                                                src="assets/img/courses/courses1.jpg" alt="image"></a>
                                        <div class="courses-tag">
                                            <a routerLink="/courses-2-columns-style-1" class="d-block">Business</a>
                                        </div>
                                    </div>
    
                                    <div class="courses-content">
                                        <div class="course-author d-flex align-items-center">
                                            <img src="assets/img/user1.jpg" class="rounded-circle mr-2" alt="image">
                                            <span>Steven Smith</span>
                                        </div>
                                        <h3><a routerLink="/single-courses" class="d-inline-block">Raque Professional IT
                                                Expert Certificate Course</a></h3>
                                        <div class="courses-rating">
                                            <div class="review-stars-rated">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <div class="rating-total">
                                                5.0 (1 rating)
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="courses-box-footer">
                                        <ul>
                                            <li class="students-number">
                                                <i class='bx bx-user'></i> 10 students
                                            </li>
                                            <li class="courses-lesson">
                                                <i class='bx bx-book-open'></i> 6 lessons
                                            </li>
                                            <li class="courses-price">
                                                Free
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6 col-md-6">
                                <div class="single-courses-box mb-30">
                                    <div class="courses-image">
                                        <a routerLink="/single-courses" class="d-block"><img
                                                src="assets/img/courses/courses2.jpg" alt="image"></a>
                                        <div class="courses-tag">
                                            <a routerLink="/courses-2-columns-style-1" class="d-block">Design</a>
                                        </div>
                                    </div>
    
                                    <div class="courses-content">
                                        <div class="course-author d-flex align-items-center">
                                            <img src="assets/img/user2.jpg" class="rounded-circle mr-2" alt="image">
                                            <span>Sarah Taylor</span>
                                        </div>
                                        <h3><a routerLink="/single-courses" class="d-inline-block">Certified Graphic Design
                                                with Free Project Course</a></h3>
                                        <div class="courses-rating">
                                            <div class="review-stars-rated">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                            </div>
                                            <div class="rating-total">
                                                4.5 (2 rating)
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="courses-box-footer">
                                        <ul>
                                            <li class="students-number">
                                                <i class='bx bx-user'></i> 15 students
                                            </li>
                                            <li class="courses-lesson">
                                                <i class='bx bx-book-open'></i> 10 lessons
                                            </li>
                                            <li class="courses-price">
                                                $250
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="courses-sidebar-information">
                        <ul>
                            <li>
                                <span><i class='bx bx-group'></i> Students:</span>
                                10
                            </li>
                            <li>
                                <span><i class='bx bx-time'></i> Length:</span>
                                5 Weeks
                            </li>
                            <li>
                                <span><i class='bx bx-tachometer'></i> Effort:</span>
                                5–6 hours per week
                            </li>
                            <li>
                                <span><i class='bx bxs-institution'></i> Institution:</span>
                                <a href="#" target="_blank" class="d-inline-block">Justolearn</a>
                            </li>
    
                            <li>
                                <span><i class='bx bx-atom'></i> Quizzes:</span>
                                Yes
                            </li>
                            <li>
                                <span><i class='bx bxs-badge-check'></i> Level:</span>
                                Introductory
                            </li>
                            <li>
                                <span><i class='bx bx-support'></i> Language:</span>
                                English
                            </li>
    
                            <li>
                                <span><i class='bx bx-certification'></i> Certificate:</span>
                                Yes
                            </li>
                        </ul>
                    </div>
    
                    <div class="courses-purchase-info">
                        <h4>Interested in this course for your Business or Team?</h4>
                        <p>Train your employees in the most in-demand topics, with edX for Business.</p>
    
                    </div>
                    <div class="coursem">
                        <div class="titlecourse">
                            <p ><strong>Service</strong></p>
                        </div>
                        <ul class="audience-list">
                            <li>Create a service</li>
                            <li>What is service?</li>
                            <li>Async service and promise</li>
                            <li>Introduction to Observable</li>
                            <li>Injectable Services</li>
                            <li>Dependency Injection</li>
                            <li>Shared Services</li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>Matrial Design</strong></p>
                        </div>
                        <ul class="audience-list">
                              
                            <li>Introduction to matrial design</li>
                            <li>How to use matrial components</li>
                            <li>matrial grid</li>
                            <li>matrial card </li>
                            
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>Forms</strong></p>
                        </div>
                        <ul class="audience-list">
                              
                            <li>What is Forms and how we handle it?</li>
                            <li>Template Driven</li>
                            <li>Access of Forms</li>
                            <li>Create Reactive form through code </li>
                            <li>What is Reactive Forms</li>
                            <li>Custom Validators</li>
                            
                        </ul>
    
                        <div class="titlecourse">
                            <p ><strong>Forms</strong></p>
                        </div>
                        <ul class="audience-list">
                        <li>What is Pipes in Angular?</li>
                        <li>Chaining Multiple pipes in angular</li>
                        <li>Filter Pipe</li>
                        <li>async Pipes </li>
                        <li>parameterizing a pipe</li>
                        <li>Impure & Pure Pipe</li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong> HTTP Requests</strong></p>
                        </div>
                        <ul class="audience-list">
                        <li>What is HTTP Requests</li>
                        <li>How to send requests</li>
                        <li>How to handle Get and Put Request</li>
                        <li>async with HTTP Requests </li>
                        <li>Catching HTTP Error</li>    
                    </ul> 
                    <div class="titlecourse">
                        <p ><strong> Unit Testing</strong></p>
                    </div>
                    <ul class="audience-list">
                    <li>What is Unit Testing</li>
                    <li>Adding Component with tests/li>
                    <li>Running Test with CLI</li>
                    <li>Async Tasks </li>
                    <li>Components and dependencies</li>    
                </ul>  
                    </div>
                    </div>
                    
            </div>
        </div>
    </section>
    </div>

    <!-- 
---------------------------------------------------------------------------------
---------------------------------------------------------------------------------\
---------------------------------------------------------------------------------
Python course coontent


-->