<app-header-style-one></app-header-style-one>
<!-- 
---------------------------------------------------------------------------------
---------------------------------------------------------------------------------\
---------------------------------------------------------------------------------
react course coontent


-->

<div >
    <div class="page-title-area item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="page-title-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="courses-2-columns-style-1.html">Courses</a></li>
                    <li>Python +Django+Flask </li>
                </ul>
                <h2>Courses</h2>
            </div>
        </div>
    </div>
    
    <section class="courses-details-area pt-100 pb-70">
        <div class="container">
            <div class="courses-details-header">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="courses-title">
                            <h2>Python + Project</h2>
                            <p>Version 10.0.0 is here! This is a major release that spans the entire platform, including the
                                framework, Angular Material, and the CLI. This release is smaller than typical; it has only
                                been 4 months since we released version 9.0 of Angular.</p>
                        </div>
    
                        <div class="courses-meta">
                            <ul>
                                <li>
                                    <i class='bx bx-folder-open'></i>
                                    <span>Category</span>
                                    <a routerLink="/single-courses">Design</a>
                                </li>
                                <li>
                                    <i class='bx bx-group'></i>
                                    <span>Students Enrolled</span>
                                    <a routerLink="/single-courses">813,454</a>
                                </li>
                                <li>
                                    <i class='bx bx-calendar'></i>
                                    <span>Last Updated</span>
                                    <a routerLink="/single-courses">01/14/2019</a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="courses-price">
                            <div class="courses-review">
                                <div class="review-stars">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <span class="reviews-total d-inline-block">(2 reviews)</span>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-8">
                    <div class="courses-details-image text-center">
                        <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls
                            preload="none" poster='/assets/img/angular.jpeg'
                            data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                            <source src="http://justolearn.com/react.mp4" type='video/mp4' />
                        </video>
                        <!-- <button (click)="playPause()">Play/Pause</button>
                        <button (click)="makeBig()">Big</button>
                        <button (click)="makeSmall()">Small</button>
                        <button (click)="makeNormal()">Normal</button>
                        <button (click)="restart();">Restart</button>
                        <button (click)="skip(-10)">Rewind</button>
                        <button (click)="skip(10)">Fastforward</button> -->
                    </div>
    
                    <div class="courses-details-desc">
                        <h3>What you'll learn</h3>
                        <div class="why-you-learn">
                            <ul>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Become an expert in Statistics
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Boost your resume with skills
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Gather, organize, data
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Use data for improved
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Present information KPIs
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Perform quantitative
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Analyze current data
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Discover how to find trends
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Understand the fundamentals
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Use SQL to create, design
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <h3>Requirements</h3>
                        <ul class="requirements-list">
                            <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry.</li>
                            <li>The standard Lorem Ipsum passage, used since the 1500s.</li>
                        </ul>
                        <h3>Python +Django +Flask</h3>
                        <p><strong>Hi! Welcome to Certified Web Devloper with Free Project Course, the only course you
                                need to become a Ui developer.</strong></p>
                        <p>We are proud to present you this one-of-a-kind opportunity. There are several online courses
                            teaching some of the skills related to the BI Analyst profession. The truth of the matter is
                            that none of them completely prepare you.</p>
                        <div class="titlecourse">
                            <p ><strong>Introduction</strong></p>
                        </div>
                        
                  <ul class="description-features-list">
                            <li> History</li>
                            <li> Setting up path</li>
                            <li> Working with Python</li>
                            <li> Basic Syntax</li>
                            <li> Variable and Data Types</li>
                            <li>icon Operator</li>
                        </ul>
                     
                        <div class="titlecourse">
                            <p ><strong>Conditional Statements</strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>Python Data Types and Variable</li>
                            <li>Condition and Loops in Python</li>
                            <li>Decorators</li>
                            <li>Python Modules & Packages</li>
                            <li>Python Files and Directories manipulations</li>
                            <li>Use various files and directory functions for OS operations</li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>Python Core Objects and Functions </strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>Built in modules (Library Functions)</li>
                            <li>Numeric and Math’s Module</li>
                            <li>String/List/Dictionaries/Tuple</li>
                            <li>Complex Data structures in Python</li>
                            <li>Arbitrary data types and their Data Structure</li>
                            <li> Python built-in function</li>
                            <li>Python user-defined functions</li>
                            <li>Python packages and functions</li>
                           <li>The anonymous Functions – Lambda Functions</li>
                            
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>Multithreading</strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>Multithreading with Python</li>
                            <li>What is Multithreading?</li>
                            <li>Starting a New Thread</li>
                            <li>The Threading Module</li>
                            <li>Synchronizing Threads</li>
                            <li> Python built-in function</li>
                            <li>Python user-defined functions</li>
                            <li>Python packages and functions</li>
                           <li>The anonymous Functions – Lambda Functions</li>
                            
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>Exception Handling in Python</strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>Exceptions Handling</li>
                            <li>Handling various exceptions using try….except…else</li>
                            <li>Try-finally clause</li>
                            <li>The argument of an Exception and create a self Exception Class</li>
                            <li>Python Standard Exceptions</li>
                            <li> Python built-in function</li>
                            <li>Python user-defined functions</li>
                            <li>Raising an exceptions, User-Defined Exceptions</li>
                        </ul>
                        
                        
                    </div>
    
                    <div class="related-courses">
                        <h3>Related Courses</h3>
    
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single-courses-box mb-30">
                                    <div class="courses-image">
                                        <a routerLink="/single-courses" class="d-block"><img
                                                src="assets/img/courses/courses1.jpg" alt="image"></a>
                                        <div class="courses-tag">
                                            <a routerLink="/courses-2-columns-style-1" class="d-block">Business</a>
                                        </div>
                                    </div>
    
                                    <div class="courses-content">
                                        <div class="course-author d-flex align-items-center">
                                            <img src="assets/img/user1.jpg" class="rounded-circle mr-2" alt="image">
                                            <span>Steven Smith</span>
                                        </div>
                                        <h3><a routerLink="/single-courses" class="d-inline-block">Raque Professional IT
                                                Expert Certificate Course</a></h3>
                                        <div class="courses-rating">
                                            <div class="review-stars-rated">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <div class="rating-total">
                                                5.0 (1 rating)
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="courses-box-footer">
                                        <ul>
                                            <li class="students-number">
                                                <i class='bx bx-user'></i> 10 students
                                            </li>
                                            <li class="courses-lesson">
                                                <i class='bx bx-book-open'></i> 6 lessons
                                            </li>
                                            <li class="courses-price">
                                                Free
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6 col-md-6">
                                <div class="single-courses-box mb-30">
                                    <div class="courses-image">
                                        <a routerLink="/single-courses" class="d-block"><img
                                                src="assets/img/courses/courses2.jpg" alt="image"></a>
                                        <div class="courses-tag">
                                            <a routerLink="/courses-2-columns-style-1" class="d-block">Design</a>
                                        </div>
                                    </div>
    
                                    <div class="courses-content">
                                        <div class="course-author d-flex align-items-center">
                                            <img src="assets/img/user2.jpg" class="rounded-circle mr-2" alt="image">
                                            <span>Sarah Taylor</span>
                                        </div>
                                        <h3><a routerLink="/single-courses" class="d-inline-block">Certified Graphic Design
                                                with Free Project Course</a></h3>
                                        <div class="courses-rating">
                                            <div class="review-stars-rated">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                            </div>
                                            <div class="rating-total">
                                                4.5 (2 rating)
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="courses-box-footer">
                                        <ul>
                                            <li class="students-number">
                                                <i class='bx bx-user'></i> 15 students
                                            </li>
                                            <li class="courses-lesson">
                                                <i class='bx bx-book-open'></i> 10 lessons
                                            </li>
                                            <li class="courses-price">
                                                $250
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="courses-sidebar-information">
                        <ul>
                            <li>
                                <span><i class='bx bx-group'></i> Students:</span>
                                10
                            </li>
                            <li>
                                <span><i class='bx bx-time'></i> Length:</span>
                                5 Weeks
                            </li>
                            <li>
                                <span><i class='bx bx-tachometer'></i> Effort:</span>
                                5–6 hours per week
                            </li>
                            <li>
                                <span><i class='bx bxs-institution'></i> Institution:</span>
                                <a href="#" target="_blank" class="d-inline-block">Justolearn</a>
                            </li>
    
                            <li>
                                <span><i class='bx bx-atom'></i> Quizzes:</span>
                                Yes
                            </li>
                            <li>
                                <span><i class='bx bxs-badge-check'></i> Level:</span>
                                Introductory
                            </li>
                            <li>
                                <span><i class='bx bx-support'></i> Language:</span>
                                English
                            </li>
    
                            <li>
                                <span><i class='bx bx-certification'></i> Certificate:</span>
                                Yes
                            </li>
                        </ul>
                    </div>
    
                    <div class="courses-purchase-info">
                        <h4>Interested in this course for your Business or Team?</h4>
                        <p>Train your employees in the most in-demand topics, with edX for Business.</p>
    
                    </div>
                   





                    <div class="coursem">
                        <div class="titlecourse">
                            <p ><strong>Object Oriented Python</strong></p>
                        </div>
                        <ul class="audience-list">
                            <li> OOPs Concepts</li>
                            <li>Object, Classes and Destroying Objects</li>
                            <li>Accessing attributes, Built-In Class Attributes</li>
                            <li>Inheritance and Polymorphism</li>
                            <li>Overriding Methods, Data Hiding</li>
                            <li>Abstraction and Encapsulation</li>
                        </ul>
                        
                        <div class="titlecourse">
                            <p ><strong>Regular Expression</strong></p>
                        </div>
                        <ul class="audience-list">
                              
                            <li>What are regular expressions?</li>
                            <li>The match and search Function</li>
                            <li>Matching vs Searching</li>
                            <li>Search and Replace feature using RE</li>
                            <li>Extended Regular Expressions</li>
                            <li>Wildcard characters and work with them</li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>File Handling</strong></p>
                        </div>
                        <ul class="audience-list">
                              
                            <li>Writing data to a file</li>
                            <li>Reading data from a file</li>
                            <li>Read and Write data from CSV file</li>
                            <li>OS module</li>
                            <li>Rename and Removing files</li>
                            <li>directories</li>
                        </ul>
                        
                        <div class="titlecourse">
                            <p ><strong> Debugging Python Programs  </strong></p>
                        </div>
                        <ul class="audience-list">
                              
                            <li>Debug Python programs using pdb debugger</li>
                            <li>Assert for debugging</li>
                            <li>Testing with Python using UnitTest</li>
                            <li>Iterable and generator in Python</li>
                            <li>Yielding from the generators</li>
                            <li>Standard project setup in Python</li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong> Modules & Packages </strong></p>
                        </div>
                        <ul class="audience-list">
                              
                            <li>Modules</li>
                            <li>How to import a module?</li>
                            <li>Packages</li>
                            <li>How to create packages</li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>Database Handling </strong></p>
                        </div>
                        <ul class="audience-list">
                              
                            <li>Create Database Connection</li>
                            <li>Creating and accessing SQLite database</li>
                            <li>Python with MySQL Database</li>
                            <li>Creating Database table</li>
                            <li>CRUD operation on database</li>
                            <li>Performing Transactions</li>
                            <li>Handling Database Errors</li>
                            <li>Disconnecting Database</li>
                        </ul>
                        <div class="titlecourse">
                            <p ><strong>Django</strong></p>
                        </div>
                        <ul class="audience-list">
                            <li>Django overview</li>
                            <li>Creating a project</li>
                            <li>Admin interface</li>
                            <li>Creating views</li>
                            <li>URL Mapping</li>
                            <li>Page redirection</li>
                            <li>Sending Emails</li>
                            <li>Deploying Django framework</li>
                            <li>Generic views</li>
                            <li>Form processing</li>
                            <li>File uploading</li>
                            <li> Cookie handling</li>
                            <li>Sessions,caching and comments</li>
                            <li>RSS,AJA</li>
                        </ul>
                    </div>

                    </div>
                    
            </div>
        </div>
    </section>
    </div>

    <!-- 
---------------------------------------------------------------------------------
---------------------------------------------------------------------------------\
---------------------------------------------------------------------------------
Python course coontent


-->