<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Contact Us</h3>

                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a href="#" target="_blank">SkyBay Building  F-408 mahalunge Behind Balewadi Stadium , Pune, India</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:+">+9325466190</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="justolearnpune@gmail.com">justolearnpune@gmail.com</a>
                        </li>
                    </ul>

                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                    </ul>
                </div>
            </div>
            

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Useful Link</h3>

                    <ul class="useful-link">
                        <li><a routerLink="/">Mean Stack</a></li>
                        <li><a routerLink="/">Mearn Stack</a></li>
                        <li><a routerLink="/">Automation Testing</a></li>
                        <li><a routerLink="/">Data Base</a></li>
                        <li><a routerLink="/">Web Development</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Register</h3>

                    <div class="newsletter-box">
                        <p>To get Free Demo.</p>
                        <form class="newsletter-form">
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                            </div>
                            <div class="form-group">
                                <label>Your e-mail address:</label>
                                <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                            </div>
                            <div class="form-group">
                                <select name="cars" id="cars">
                                    <option value="mean stack">Mean Stack</option>
                                    <option value="mearn stack">Mearn Stack</option>
                                    <option value="mercedes">React</option>
                                    <option value="angular">Angular</option>
                                  </select>
                            </div>
                            <button type="submit1" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <a routerLink="/" class="d-inline-block"><img src="assets/img/logo.png" alt="image"></a>
            </div>
            <p><i class='bx bx-copyright'></i>2020 <a routerLink="/" target="_blank">Justo Learn</a> Designed By <a href="https://envytheme.com/" target="_blank">Justolearn</a> | All rights reserved.</p>
        </div>
    </div>
</footer>

<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>