<app-header-style-one></app-header-style-one>
<!-- 
---------------------------------------------------------------------------------
---------------------------------------------------------------------------------\
---------------------------------------------------------------------------------
react course coontent


-->

<div>
    <div class="page-title-area item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="page-title-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="courses-2-columns-style-1.html">Courses</a></li>
                    <li>React Js </li>
                </ul>
                <h2>Courses</h2>
            </div>
        </div>
    </div>

    <section class="courses-details-area pt-100 pb-70">
        <div class="container">
            <div class="courses-details-header">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="courses-title">
                            <h2>Selenium </h2>
                            <p>Version 10.0.0 is here! This is a major release that spans the entire platform, including
                                the
                                framework, Angular Material, and the CLI. This release is smaller than typical; it has
                                only
                                been 4 months since we released version 9.0 of Angular.</p>
                        </div>

                        <div class="courses-meta">
                            <ul>
                                <li>
                                    <i class='bx bx-folder-open'></i>
                                    <span>Category</span>
                                    <a routerLink="/single-courses">Design</a>
                                </li>
                                <li>
                                    <i class='bx bx-group'></i>
                                    <span>Students Enrolled</span>
                                    <a routerLink="/single-courses">813,454</a>
                                </li>
                                <li>
                                    <i class='bx bx-calendar'></i>
                                    <span>Last Updated</span>
                                    <a routerLink="/single-courses">01/14/2019</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="courses-price">
                            <div class="courses-review">
                                <div class="review-stars">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <span class="reviews-total d-inline-block">(2 reviews)</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="courses-details-image text-center">
                        <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls
                            preload="none" poster='/assets/img/angular.jpeg'
                            data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                            <source src="http://justolearn.com/nodejs.mp4" type='video/mp4' />
                        </video>
                        <!-- <button (click)="playPause()">Play/Pause</button>
                        <button (click)="makeBig()">Big</button>
                        <button (click)="makeSmall()">Small</button>
                        <button (click)="makeNormal()">Normal</button>
                        <button (click)="restart();">Restart</button>
                        <button (click)="skip(-10)">Rewind</button>
                        <button (click)="skip(10)">Fastforward</button> -->
                    </div>

                    <div class="courses-details-desc">
                        <h3>What you'll learn</h3>
                        <div class="why-you-learn">
                            <ul>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Become an expert in Statistics
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Boost your resume with skills
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Gather, organize, data
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Use data for improved
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Present information KPIs
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Perform quantitative
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Analyze current data
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Discover how to find trends
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Understand the fundamentals
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Use SQL to create, design
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <h3>Requirements</h3>
                        <ul class="requirements-list">
                            <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry.</li>
                            <li>The standard Lorem Ipsum passage, used since the 1500s.</li>
                        </ul>
                        <h3>Selenium</h3>
                        <p><strong>Hi! Welcome to Certified Web Devloper with Free Project Course, the only course you
                                need to become a Ui developer.</strong></p>
                        <p>We are proud to present you this one-of-a-kind opportunity. There are several online courses
                            teaching some of the skills related to the BI Analyst profession. The truth of the matter is
                            that none of them completely prepare you.</p>
                        <div class="titlecourse">
                            <p><strong>Introduction to Selenium</strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>Components of Selenium
                            </li>
                            <li> Selenium Architecture</li>
                           
                        </ul>
                        <div class="titlecourse">
                            <p><strong>Automating Keyboard and Mouse Events
                            </strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>Action Class</li>
                            <li>Key Board Events    </li>
                            <li>Drag & Drop Actions</li>
                            <li>Mouse Hover Action</li>
                            <li>Right Click, Double Click & Tool Tip
                            </li>
                            
                        </ul>
                        <div class="titlecourse">
                            <p><strong> Handling multiple Windows
                                </strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>getwindowHandle()
                            </li>
                            <li>getwindowHandles ()</li>
                            <li>Switching between windows</li>
                            <li>Handling elements present in different windows</li>
                            

                        </ul>

                        <div class="titlecourse">
                            <p><strong>Handling Alerts</strong></p>
                        </div>
                        <ul class="description-features-list">
                            <li>accept()</li>
                            <li>dismiss ()
                            </li>
                            <li>get Text()</li>
                            <li>sendKeys()
                            </li>

                        </ul>
                        
                        <div class="titlecourse">
                            <p><strong>Handling Frames
                            </strong></p>
                        </div>
                        <ul class="audience-list">
                            <li>What is iFrame?</li>
                            <li>Locating Frames</li>
                            <li>Switching between Frames</li>
                            <li>Handling Frames
                            </li>
                        </ul>

                    </div>
                    Serving Static Resources

                    <div class="related-courses">
                        <h3>Related Courses</h3>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single-courses-box mb-30">
                                    <div class="courses-image">
                                        <a routerLink="/single-courses" class="d-block"><img
                                                src="assets/img/courses/courses1.jpg" alt="image"></a>
                                        <div class="courses-tag">
                                            <a routerLink="/courses-2-columns-style-1" class="d-block">Business</a>
                                        </div>
                                    </div>

                                    <div class="courses-content">
                                        <div class="course-author d-flex align-items-center">
                                            <img src="assets/img/user1.jpg" class="rounded-circle mr-2" alt="image">
                                            <span>Steven Smith</span>
                                        </div>
                                        <h3><a routerLink="/single-courses" class="d-inline-block">Raque Professional IT
                                                Expert Certificate Course</a></h3>
                                        <div class="courses-rating">
                                            <div class="review-stars-rated">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <div class="rating-total">
                                                5.0 (1 rating)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="courses-box-footer">
                                        <ul>
                                            <li class="students-number">
                                                <i class='bx bx-user'></i> 10 students
                                            </li>
                                            <li class="courses-lesson">
                                                <i class='bx bx-book-open'></i> 6 lessons
                                            </li>
                                            <li class="courses-price">
                                                Free
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="single-courses-box mb-30">
                                    <div class="courses-image">
                                        <a routerLink="/single-courses" class="d-block"><img
                                                src="assets/img/courses/courses2.jpg" alt="image"></a>
                                        <div class="courses-tag">
                                            <a routerLink="/courses-2-columns-style-1" class="d-block">Design</a>
                                        </div>
                                    </div>

                                    <div class="courses-content">
                                        <div class="course-author d-flex align-items-center">
                                            <img src="assets/img/user2.jpg" class="rounded-circle mr-2" alt="image">
                                            <span>Sarah Taylor</span>
                                        </div>
                                        <h3><a routerLink="/single-courses" class="d-inline-block">Certified Graphic
                                                Design
                                                with Free Project Course</a></h3>
                                        <div class="courses-rating">
                                            <div class="review-stars-rated">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                            </div>
                                            <div class="rating-total">
                                                4.5 (2 rating)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="courses-box-footer">
                                        <ul>
                                            <li class="students-number">
                                                <i class='bx bx-user'></i> 15 students
                                            </li>
                                            <li class="courses-lesson">
                                                <i class='bx bx-book-open'></i> 10 lessons
                                            </li>
                                            <li class="courses-price">
                                                $250
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="courses-sidebar-information">
                        <ul>
                            <li>
                                <span><i class='bx bx-group'></i> Students:</span>
                                10
                            </li>
                            <li>
                                <span><i class='bx bx-time'></i> Length:</span>
                                5 Weeks
                            </li>
                            <li>
                                <span><i class='bx bx-tachometer'></i> Effort:</span>
                                5–6 hours per week
                            </li>
                            <li>
                                <span><i class='bx bxs-institution'></i> Institution:</span>
                                <a href="#" target="_blank" class="d-inline-block">Justolearn</a>
                            </li>

                            <li>
                                <span><i class='bx bx-atom'></i> Quizzes:</span>
                                Yes
                            </li>
                            <li>
                                <span><i class='bx bxs-badge-check'></i> Level:</span>
                                Introductory
                            </li>
                            <li>
                                <span><i class='bx bx-support'></i> Language:</span>
                                English
                            </li>

                            <li>
                                <span><i class='bx bx-certification'></i> Certificate:</span>
                                Yes
                            </li>
                        </ul>
                    </div>

                    <div class="courses-purchase-info">
                        <h4>Interested in this course for your Business or Team?</h4>
                        <p>Train your employees in the most in-demand topics, with edX for Business.</p>

                    </div>
                    <div class="coursem">
                        <div class="titlecourse">
                            <p><strong>What is TestNG?</strong></p>
                        </div>
                        <ul class="audience-list">
                            <li>Why do we need TestNG in Selenium?
                            </li>
                            <li>Installing TestNG in Eclipse</li>
                            <li>Creating a New TestNG Test File</li>
                            <li>Test annotation</li>
                            <li>Running the Test</li>
                            <li>Generating HTML Reports
                            </li>
                            <li>Annotations used in TestNG
                            </li>
                            <li>Validating Tests with Assertions</li>
                            <li>Creating multiple Tests </li>
                           
                        </ul>
                       
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<!-- 
---------------------------------------------------------------------------------
---------------------------------------------------------------------------------\
---------------------------------------------------------------------------------
Python course coontent


-->